

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
}

/* .Nav-btns li a:hover::after {
  content: "";
  background: green;
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: -4px;
 
} */